* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: min-content;
}
li {
  list-style-type: none;
}

a {
  color: #858585;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
/* header */
header {
  height: 60px;
}

.navbar {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: #5f6368;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.circle-shadow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-shadow:hover {
  background-color: hsl(0, 0%, 94%);
}

.menu-icon,
.user-icon {
  font-size: 18px;
}

.user-icon {
  color: white;
  /* background-color: goldenrod; */
  background-color: #84baff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.navbar ul li:last-of-type a {
  color: #0274ee;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-shrink: 0;
}

.logo-container {
  margin-top: auto;
  height: 100%;
  max-height: 92px;
}

.logo-img {
  /* padding-bottom: 1.75rem; */
  width: 19.5rem;
}

/* Content */

.content-section {
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.4rem;
}

.menu-icon {
  height: 100%;
  width: 100%;
  text-align: center;
}

.menu-svg {
  margin: 4px 0 0 0;
  fill: #5f6368;
  height: 2rem;
}

/* .google-logo.png {
  width: 300px;
  margin-bottom: 20px;
} */

.search-bar {
  border: 1px solid #dfe1e5;
  width: 100%;
  height: 46px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  /* padding-left: 15px; */
  padding: 0.2rem 1.25rem 0;
  gap: 1rem;
  /* cursor: pointer; */
  max-width: 585px;
  min-width: 350px;
}

.search-bar:hover {
  box-shadow: 0px 1px 6px rgba(205, 205, 205, 0.8);
}

.search-bar i {
  font-size: 14px;
  color: #9aa0a6;
  /* margin-right: 15px; */
  cursor: pointer;
}

.search-bar input {
  flex-grow: 1;
  height: 100%;
  /* margin-right: 15px; */
  font-size: 16px;
  border: none;
}

.search-button {
  padding-top: 2rem;
}

.search-button button {
  height: 35px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  /* margin-left: 10px; */
  color: #201d1d;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  padding: 0 1rem;
  margin: 0 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar input:focus {
  outline: none;
}

.search-button button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}

/* .google-search-button {
  width: 120px;
} */

.lucky-search-button {
  width: 140px;
}

.language-section {
  flex-grow: 1;
}

.language {
  color: #3c4043;
  /* margin-top: 20px; */
  text-align: center;
}

.language p {
  font-size: 12.9px;
  padding-top: 0.5rem;
}

.language p a {
  color: #1a0dab;
  padding: 0 0.2rem;
  font-size: 12.9px;
}

/* underline is not working */
.language p a:hover {
  text-decoration: underline;
}

/* footer */
footer {
  background-color: #f2f2f2;
  /* height: 100px; */
  width: 100%;
  /* flex-grow: 0.05; */
  flex-basis: content;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  /* padding: 20px; */
  background-color: #f2f2f2;
  width: 100%;
  padding: 0 1.5rem;
}

/* .upper-footer { */
/* height: 50%; */
/* border-bottom: 1px solid lightgrey; */
/* } */

.upper-footer p {
  /* font-size: grey; */
  font-size: 15px;
  /* margin-left: 27px;
  margin-top: 30px; */
  align-items: center;
  padding: 1.2rem 2.2rem;
  /* padding-left: 1.1rem; */
  color: #70757a;
  border-bottom: 1px solid #dadce0;
}

/* problem - not moving to right side (justify content issue*/

.lower-left-footer {
  /* background-color: #b5b5b5; */
  /* height: 50%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lower-left-footer li {
  /* margin-right: 15px; */
  padding: 1.2rem 1rem;
}

.lower-left-footer li a {
  font-size: 14px;
  color: #70757a;
}

.lower-left-footer li a:hover {
  text-decoration: underline;
}

/* .lower-left-footer {
  display: flex;
} */

.lower-right-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #b5b5b5; */
  /* margin-left: auto; */
}

.lower-right-footer li {
  /* margin-right: 15px; */
  padding: 1.2rem 1rem;
}

.lower-right-footer li a {
  font-size: 14px;
  color: #70757a;
}

.lower-right-footer li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 75em) {
  .footer-content {
    justify-content: space-between;
  }
}

/* @media screen and (min-width: 42.5em) {
  .footer {
    flex-grow: 0;
  }
} */

/* @media only screen and (max-width: 650px) {
  .searchbar {
    width: 70px;
  }

  .footer {
    width: 100%;
  }

  .upper-footer {
    height: 50px;
  }

  .lower-left-footer {
    height: 100px;
    display: flex;
    flex-direction: column;
  }
} */
